# Terraform work dirs (ignore dir + contents, any depth)
**/.terraform/
**/.terraform/**

# Keep lockfiles
!**/.terraform.lock.hcl

# State files
**/*.tfstate
**/*.tfstate.*

#  Ignore variables files in environment directory
environment/*.auto.tfvars

#  Ignore override files
 *.tfoverride

#  Ignore environment-specific files
 .envrc

#  Ignore CLI configuration files
 .terraformrc
 terraform.rc

# Ignore venv directories
**/venv/**
**/.venv/**

# Ignore runners-autoscaler directories
**/runners-autoscaler/**

# Ignore Python cache files
**/__pycache__/**
**/*.py[cod]** 

# Ignore IDE files
.vscode/
.idea/
*.iml